<!DOCTYPE html>
<html>
  <head>
    <link href="/css/screen.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>General Hawk</title>
  </head>
  <body>
    <div class="site">
      <div class="title">
        <a href="/">General Hawk</a>
      </div>

      <div id="home">
        <%= yield %>
      </div>

      <div class="footer">
      </div>
    </div>
  </body>
</html>
